// Файл обнуляющих стилей
@import "styles/null.scss";

.container{
    max-width: 1000px;
    margin: 50px auto;
    background-color: red;
}
.slider{
    &__block{
        background-color: gray;
        text-align: center;
    }
&__num{
    font-size: 25px;
}
    &__slider{
        width: 80%;
    }
}